body{
    margin-top: 0%;
}
.flex-container {
    display: flex;
    background-color:cadetblue;
    padding-left: 2em;
}

.flex-container>div{
    margin-right: 3em;
}
.subTitle{
    text-decoration: underline ;
    margin-left: 3%;
}

.required{
    color: red;
}

#addressLabel{
    vertical-align: top;
}

div>label{
    font-weight: bold;
    margin-right: 13%;
    margin-left: 3%;
}

#leftCol{
    float: left ;
    width: 50%;
}
#rightCol{
    padding-top: 1.5%;
    float: left ;
    width: 50%;
}


footer{

    display: block;
    background-color: grey;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
}

.btn{
    color: white;
    background-color: cadetblue;
    border-radius: 0%;
    padding-left: 2em;
    padding-right: 2em;
}

.checkLabel {
    display: block;
    padding-left: 2em;
    position: relative;
    text-indent: -8px;
    bottom: 1.3em;
  }
  
.checkbox {
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
  }